<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%-include ('parts/page-head', { title:'404' })%>
    <link rel="stylesheet" href="/assets/styles/style-404.css">
</head>
<body>
    <main class="background">
        <header class="header">
            <nav class="nav-bar">
                <img class="logo" src="/assets/images/images-404/logo.svg" alt="logo">
            </nav>
        </header>
        <section class="images">
            <img class="rocket" src="/assets/images/images-404/map-home.svg" alt="rocket">
            <img class="map" src="/assets/images/images-404/rocket.svg" alt="map">
        </section>
        <section class="home">
            <img class="circle" src="/assets/images/images-404/circle-home.svg" alt="circle">
            <div class="phrases">
                <h1>404...</h1>
                <h2>Oooooopss...</h2>
                <span>Você caiu em uma arapuca?<br>Esta página não existe.</span><br>
                <a href="/"><button class="download">RETORNAR À HOME</button></a>
            </div>
            <img class="home" src="./assets/images/images-404/crash-img.png" alt="game">
        </section>
        <section class="decoration">
            <img class="treasure" src="./assets/images/images-404/chest-home.svg" alt="chest">
            <img class="cristal" src="./assets/images/images-404/cristal-home.svg" alt="cristal">
        </section>
    </main>
</body>
</html>