<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <%-include ('parts/page-head', { title:'Nerdlândia' })%> 
</head>
<body>
    <main class="background">
        <header class="header">
            <nav class="nav-bar">
                <a href="/profile"><img class="logo" src="/assets/images/images-index/logo.svg" alt="logo"></a>
                <ul class="nav-menus">
                    <li><a href="https://twitter.com/"><svg class="twitter" width="35" height="29" viewBox="0 0 35 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35 3.64781C33.6984 4.21875 32.3116 4.59719 30.8656 4.78094C32.3531 3.89281 33.4884 2.49719 34.0222 0.815C32.6353 1.64187 31.1041 2.22594 29.4722 2.55188C28.1553 1.14969 26.2784 0.28125 24.2309 0.28125C20.2584 0.28125 17.0603 3.50563 17.0603 7.45844C17.0603 8.02719 17.1084 8.57406 17.2266 9.09469C11.2612 8.80375 5.98281 5.94469 2.43687 1.58938C1.81781 2.66344 1.45469 3.89281 1.45469 5.21625C1.45469 7.70125 2.73438 9.90406 4.64187 11.1794C3.48906 11.1575 2.35812 10.8228 1.4 10.2956C1.4 10.3175 1.4 10.3459 1.4 10.3744C1.4 13.8612 3.88719 16.7575 7.14875 17.4247C6.56469 17.5844 5.92812 17.6609 5.2675 17.6609C4.80813 17.6609 4.34437 17.6347 3.90906 17.5384C4.83875 20.38 7.47688 22.4691 10.6138 22.5369C8.1725 24.4466 5.07281 25.5972 1.71719 25.5972C1.12875 25.5972 0.564375 25.5709 0 25.4987C3.17844 27.5484 6.94531 28.7188 11.0075 28.7188C24.2113 28.7188 31.43 17.7812 31.43 8.30062C31.43 7.98344 31.4191 7.67719 31.4037 7.37313C32.8278 6.3625 34.0244 5.10031 35 3.64781Z" fill="white"/>
                        </svg></a>
                    </li>
                    <li><a href="https://www.facebook.com/"><svg class="facebook" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path class="svg" d="M29.7612 5.56676e-08H1.73732C0.777695 0.000480708 -0.00024027 0.778896 5.56676e-08 1.73876V29.7627C0.000480708 30.7223 0.778896 31.5002 1.73876 31.5H29.7612C30.7213 31.5002 31.4998 30.7221 31.5 29.762C31.5 29.7617 31.5 29.7615 31.5 29.7612V1.73732C31.4995 0.777695 30.7211 -0.00024027 29.7612 5.56676e-08Z" fill="white"/>
                        <path d="M19.8147 35.3141V21.779H24.3777L25.0613 16.4811H19.8147V13.107C19.8147 11.5766 20.2395 10.5339 22.434 10.5339H25.2151V5.80826C24.7312 5.7439 23.0711 5.59998 21.1394 5.59998C17.1062 5.59998 14.3459 8.06091 14.3459 12.5822V16.4811H9.80005V21.779H14.3459V35.3141H19.8147Z" fill="#567DF0"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="35" height="35" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg></a>
                    </li>
                    <li><a href="/login"><button class="in" href="#">Entrar</button></a></li>
                    <li><a href="/signup"><button class="up" href="#">Cadastre-se</button></a></li>
                </ul>
            </nav>
        </header>
        <section class="images">
            <img class="rocket" src="/assets/images/images-index/rocket.svg" alt="rocket">
            <img class="map" src="/assets/images/images-index/map-home.svg" alt="map">
        </section>
        <section class="home">
            <img class="circle" src="/assets/images/images-index/circle-home.svg" alt="circle">
            <div class="phrases">
                <h1>Os jogos mais irados!</h1>
                <h2>O mundo Geek nunca esteve tão<br> perto de você.</h2>
                <a href="/assets/download/water-reminder.zip" download="water-reminder.zip" type="application/zip"><button class="download">Download</button></a>
            </div>
            <img class="home" src="/assets/images/images-index/game-home.svg" alt="game">
        </section>
        <section class="decoration">
            <img class="treasure" src="/assets/images/images-index/chest-home.svg" alt="chest">
            <img class="cristal" src="/assets/images/images-index/cristal-home.svg" alt="cristal">
        </section>
    </main>
    <section class="game-phrase">
        <div class="phrases">
            <h1>Compra e venda na palma da sua mão!</h1>
            <span>A Nerdlândia te possibilita encontrar os melhores jogos, e vender seus jogos usados.</span>
        </div>
    </section>
    <section class="games">
        <div class="game-images">
            <img src="/assets/images/images-index/valhalla.png" alt="valhalla">
            <img class="re4" src="/assets/images/images-index/re-2.png" alt="re4">
            <img src="/assets/images/images-index/crash.png" alt="crash">
        </div>
    </section>
    <section class="app">
        <img class="img-app" src="/assets/images/images-index/cellphone.png" alt="app">
        <div class="app-info">
            <h1>A Nerdilândia possui uma interface super simples, qualquer um consegue usar!</h1>
            <div class="info-text">
                <span>A Nerdlândia surgiu com o intuito de trazer os melhores e mais variáveis jogos do mercado pra
                    você! Com games para PC, XBOX e Playstation. O aplicativo detém uma interface simples e objetiva com
                    ferramentas suficientes para sua compra ou venda dos produtos. 
                    Este projeto foi criado e desenvolvido por
                    cinco programadores.
                </span>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="card-info-up">
            <img class="group1" src="/assets/images/images-index/group-1.png" alt="group1">
            <img src="/assets/images/images-index/group-2.png" alt="group1">
        </div>
        <div class="card-info-down">
            <img class="group3"src="/assets/images/images-index/group-3.png" alt="group1">
            <img src="/assets/images/images-index/group-4.png" alt="group1">
        </div>
    </section>
    <section class="footer">
        <div class="video">
            <video src="/assets/images/images-index/music.webm" poster="/assets/images/images-index/video.png" width="535" height="300"  controls loop></video>
        </div>
        <div class="images">
            <img class="rocket-footer" src="/assets/images/images-index/rocket-footer.svg" alt="rocket">
            <a href="/assets/download/water-reminder.zip" download="water-reminder.zip" type="application/zip"><button class="download">Download</button></a>
            <img class="chest-footer" src="/assets/images/images-index/chest-footer.svg" alt="chest">
        </div>
    </section>
    <footer>
        <div class="last-elements">
            <div class="text">
                <h1>Pronto para a Nerdlândia? É grátis!</h1>
                <span>Desde 2020, centrenas de usuários.</span>
            </div>
            <a href="/signup"><button class="up" >Cadastre-se</button></a>
        </div>
    </footer>
</body>
</html>