/* GLOBAL */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.background {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/images-index/abstract-home.svg");
    background-size: 115vw 117.3vh;
    background-position:left;
    background-repeat: no-repeat;
    background-color: #4D70D3;
}


/* HEADER */
.header {
    height: 15.3vh;
    width: 100vw;
}

.header .nav-bar { 
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header .nav-bar .nav-menus{
    margin-right: 6vw;
    margin-top:1vh;
    list-style: none;
    display: flex;
}

.header .nav-bar .logo {
    height: 28px;
    margin-top:2vh;
    margin-left: 5vw;
    pointer-events: none;
}
.header .nav-bar .logo::selection{
    background:none;
}

.images {
    margin-left: 8vw;
    margin-top: -15vh;
    margin-bottom: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.images .rocket {
    margin-left: -15vw;
    height: 20vh;
    pointer-events: none;
}
.images .rocket::selection{
    background:none;
}

.images .map {
    margin-left: -50vw;
    height: 25vh;
    pointer-events: none;
}
.images .map::selection{
    background:none;
}

.home {
    margin-top: -6.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home .circle {
    margin-left: -9.8vw;
    pointer-events: none;
}
.home .circle::selection{
    background:none;
}

.home .phrases {
    margin-top: -15vh;
    margin-left: -8vw;
}

.home .phrases h1 {
    color: #FFFFFFCC;
    font-weight: 700;
    font-size: 75px;
}

.home .phrases h2 {
    color:#fff;
    font-weight: 700;
    margin-top: -6vh;
    margin-bottom: 5vh;
    font-size: 38px;
}
.home .phrases span{
    color:#fff;
    font-weight: 500;
    margin-top: -6vh;
    font-size: 20px;
}

.home .phrases .download {
    margin-top: 3vw;
    height: 39px;
    width: 170px;
    border: none;
    border-radius: 5px;
    background-color: #4DCDFA;
    box-shadow: 0px 4px 4px 0px #00000040;

    color: #fff;
    font-weight: bold;
    transition: 1s;
    font-size: 11px;
    cursor: pointer;
}

.home .phrases .download:hover {
    background: #ECA521;
}

.home  .home {
    margin-top: -19vh;
    margin-right: -4vw;
    height: 78vh;
    pointer-events: none;
}
.home  .home::selection{
    background:none;
}

.decoration {
    margin-top: -13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.decoration .treasure {
    margin-left: 5vw;
    height: 28vh;
    pointer-events: none;
}
.decoration .treasure::selection{
    background:none;
}

.decoration .cristal {
    margin-top: -7vh;
    margin-right: 40vw;
    height: 33vh;
    pointer-events: none;
}
.decoration .cristal::selection{
    background:none;
}





